# Ignore node_modules folder
node_modules/

# Ignore environment variable files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Visual Studio cache
.vs/
*.vsidx
*.suo
*.user
*.cache
*.db

# Build output
bin/
obj/

# Other temporary files
*.log
*.tmp 
